anthropic==0.34.0
faster_whisper==1.0.3
openai==1.41.0
opencv_python==4.10.0.84
pandas==2.2.2
streamlit==1.37.1
streamlit_antd_components==0.3.2
google-generativeai==0.7.2
numpy<2.0.0
torch
torchvision
torchaudio